.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: rgb(148, 64, 64);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #41d2e6;
}

.sidenav .button {
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.1em 0.5em 0;
 border:0.16em solid rgba(0, 0, 0, 0);
 background-color: #ff0000;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 font-size: 20px;
 color:#ffffff;
 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
 text-align:center;
 transition: all 0.2s;
}

.sidenav .button1 {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.5em 0;
  border:0.16em solid rgba(0, 0, 0, 0);
  background-color: #00b90f;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size: 20px;
  color:#ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
 }

.sidenav .button:hover {
  border-color: rgba(255,255,255,1);
}

.sidenav .button1:hover {
  border-color: rgba(255,255,255,1);
}

.sidenav .closebtn {
  position: absolute;
  color: #ffffff;
  cursor: pointer;
  top: -5px;
  left: -30px;
  font-size: 45px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  color: #ff0000;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.open-nav {
  width: 200px;
}

.close-nav {
  width: 0;
}
